@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.header_one {
    background-color: #032154;
}

.icon_class i{
    color: #F2DB18;
}
.icon_class i:hover{
    color: #ffceff;
}

/*end*/
.main_section {

    text-align: center;
    margin: 35px 0;
}

.main_section i {
    color: burlywood;
}

/*end*/
.nav_section {
    background-color: #032154;
}

.nav-item {
    font-size: 20px;
    margin: 0 20px;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: 700;
}

.nav-item .nav-link {
    color: aliceblue;
}

.actives {
    background-color: #F2DB18;
}

.nav-item .nav-link:hover {
    background-color: #F2DB18;
}

.form-control:hover {
    background-color: black;
}

/*navber end*/
#home_section {
    background: url(../img/banner.jpg)no-repeat;
    background-size: cover;
    height: auto;
    width: 100%;
}

.pozitions {
    margin: auto;
    padding-left: 20px;
}

.div_img {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.div_img img {
    width: 50%;
    height: auto;
    margin: auto;
}

.nav_section i {
    color: crimson;
}

/*header end*/

.about_img img {
    height: auto;
    width: 100%;
    border-radius: 15px;
}

.about_letter {
    font-size: 23px;
}

.btn_about {
    border-radius: 15px;
}

.btn_about:hover {
    color: #fff;
}

/*about*/
.services_text {
    background-color: #fff;
    text-align: center;
    font-size: 22px;
    font-family: sans-serif;
}

.color {
    background-color: #420642;
    padding: 2px;
    width: 50%;
    margin: auto;
}

.middel {
    border-left: #94a3b8ec 4px solid;
    border-right: #94a3b8ec 4px solid;
}

.services_text .test {
    background-color: black;
    border-radius: 10px;
}
.services_text .test:hover{
    background-color: #F2DB18;
}
.tests{
    background-color: #F2DB18;
    border-radius: 10px;
}
.tests:hover{
    background-color: black;
}
/*servies end*/

.slider {
    width: 80%;
    text-align: center;
    overflow: hidden;
    margin: auto;
  }
  
  .slides {
    display: flex;
    
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    
    
    
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    
    /*
    scroll-snap-points-x: repeat(300px);
    scroll-snap-type: mandatory;
    */
  }
  .slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .slides::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
  }
  .slides::-webkit-scrollbar-track {
    background: transparent;
  }
  .slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 35%;
    height: auto;
    margin-right: 50px;
    border-radius: 10px;
    background: #eee;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
  }
  .slides > div:target {
     transform: scale(0.8); 
  }
  .author-info {
    background: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 0.75rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
  }
  .author-info a {
    color: white;
  }
  imgs {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .cmn img{
    height: 220px;
    width: 250px;
    border-radius: 50%;
  }
  
  .slider > a {
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    background: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 0 0.5rem 0;
    position: relative;
  }
  .slider > a:active {
    top: 1px;
  }
  .slider > a:focus {
    background: #000;
  }

/*our team end*/
#contact_section {
    background-color: #4bc5b8;
}

.bttn {
    border-radius: 15px;
    background-color: #F2DB18;
    margin-bottom: 10px !important;
}
.bttn:hover{
    background-color: #420642;
}
.Email_text{
    border-radius: 10px;
}
.contact_img{
    width: 100%;
    height: auto;
    border-radius: 5%;
}
/*contact end*/
.footer{
    background-color: #000000b1;
}
.footer_one{
    color: #fff;
    
}
.ft_icon i{
    color: #F2DB18;
    border: 1px solid #F2DB18;
}
.ft_icon i:hover{
    color: darkmagenta;
}